

.section__info-description {
  color: var(--grey_scale_black_50) !important;
  width: 70%;
  text-align: justify;
   @media only screen and (max-width: 1025px) {
    width: 80%;
   }
  @media only screen and (max-width: 769px) {
    width: 100%;
  }
}

.work-1 {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.section__gallery-search-image {
  height: 300px;
  object-fit: cover;
  border-radius: var(--radius-3xl);
}

.column__title {
  color: var(--teal_800) !important;
  letter-spacing: 4.6px;
  text-transform: uppercase;

  @media only screen and (max-width: 769px) {
    font-size: 10px;
    gap: 0px;
  }
}

.dhi-group {
  padding-left: 15px;
  padding-right: 15px;

  @media only screen and (max-width: 769px) {
    /* align-self: auto; */
    width: 120%;
    object-fit: fill;
    flex-direction: row;
  }
}

.section__gallery-column {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 769px) {
    /* padding: var(--space-2xl); */
    width: 100%;
    /* object-fit: cover; */
    display: none;
  }


  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
}

.section__slider-item-image {
  height: 300px;
  border-top-right-radius: var(--radius-3xl);
  border-top-left-radius: var(--radius-3xl);
  object-fit: cover;

  @media only screen and (max-width: 769px) {
    font-size: 10px;
    height: fit-content;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 1025px) {
    object-fit: contain;
    font-size: 10px;
    height: fit-content;
    margin-bottom: 10px;
  }
}

.section__slider-item-details {
  border-bottom-left-radius: var(--radius-3xl);
  border-bottom-right-radius: var(--radius-3xl);
  gap: var(--space-5xl);
  display: flex;
  background-color: var(--white);
  background-color: #f7fbf9;
  flex-direction: column;
  padding: var(--space-5xl);

  @media only screen and (max-width: 769px) {
    padding: var(--space-2xl);
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.section__slider-item-details-column {
  gap: var(--space-xl);
}

.section__slider-item-rating {
  gap: var(--space-sm);
  display: flex;
  align-items: center;

  @media only screen and (max-width: 769px) {
    margin-top: -18px;
  }
}

.section__slider-item-rating-score {
  color: var(--orange) !important;
}

.section__location-image {
  height: 24px;
}

.content__app-link--google-play {
  height: 50px;
  width: 172px;
  object-fit: contain;
  border-radius: var(--radius-xs);

  @media only screen and (max-width: 769px) {
    font-size: 10px;
  }
}

.content__image--whatsapp {
  height: 600px;
  width: 22%;
  object-fit: fill;
  box-shadow: 0 4px 39px 0 #0000003f !important;
  border-radius: var(--radius-lg);

  @media only screen and (max-width: 769px) {
    /* display: none; */
    box-shadow: 0 4px 39px 0 #0000003f !important;
    border-radius: var(--radius-lg);
    object-fit: contain;
    width: 500px;
    height: fit-content;
    /* margin-left: 15px; */
  }
}

.contact-section {
  @media only screen and (max-width: 1025px) {
    width: 100%;
  }
}

.contact-section__input--name {
  color: var(--gray_500) !important;
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  background-color: var(--white) !important;
  height: 82px;
  border-radius: 10px !important;

  @media only screen and (max-width: 1025px) {
    width: 100%;
  }
}

.contact-section__label--name {
  color: var(--black_900) !important;

  @media only screen and (max-width: 1025px) {
    width: 100%;
  }
}

.join-rider-section {
  gap: var(--space-7xl);
  display: flex;
  background-color: var(--green_50);
  width: 50%;
  flex-direction: column;
  padding: var(--space-2xl);
  border-radius: var(--radius-lg);

  @media only screen and (max-width: 1025px) {
    width: fit-content;
    font-size: 10px;
    text-align: center;
    max-height: max-content;
  }

  @media only screen and (max-width: 360px) {
    font-size: 10px;
    max-width: 90vw;
    text-align: center;
    max-height: 70vh;
  }
}

.join-rider-section__image {
  height: 374px;
  object-fit: cover;
  border-radius: var(--radius-lg);

  @media only screen and (max-width: 1020px) {
    margin-left: 0px;
    height: fit-content;
    object-fit: contain;
  }

  @media only screen and (max-width: 1025px) {
    margin-left: 0px;
    height: fit-content;
    object-fit: contain;
  }
}

.join-rider-section__content {
  margin-bottom: 16px;
  margin-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2xl);

  @media only screen and (max-width: 1025px) {
    margin-left: 0px;
    object-fit: contain;
  }
}

.join-rider-section__title {
  color: var(--black_900) !important;
  margin-bottom: 4px;
  align-self: flex-end;

  @media only screen and (max-width: 769px) {
    margin-left: 0px;
    font-size: 10px;
    text-align: left;
    justify-content: left;
  }
  @media only screen and (max-width: 1025px) {
    margin-left: 0px;
    font-size: 10px;
    text-align: left;
    justify-content: left;
  }
}

.join-rider-section__button {
  color: var(--white) !important;
  padding-left: var(--space-6xl);
  padding-right: var(--space-6xl);
  font-size: 17px;
  font-weight: 500;
  background-color: var(--teal_800) !important;
  box-shadow: 0 4px 39px 0 #0000003f !important;
  height: 60px;
  min-width: 168px;
  border-radius: 14px !important;

  @media only screen and (max-width: 767px) {
    max-width: 10vw;
    max-height: 5vh;
  }

  @media only screen and (min-width: 768px) {
    max-width: 10vw;
    max-height: 6vh;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 10vw;
    max-height: 7vh;
  }
}


/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.home {
  /* background-color: var(--white); */
  width: 100%;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 1025px) {
    height: auto;
    min-width: 100%;
  }
}

.columnobjects {
  position: absolute;
  top: 0;
  left: 0;
  flex: 0.3;

  height: 200000px;
  backdrop-filter: blur(100px);
  /* Creates the blur effect */

  background-color: green;
  /* gap: 620px; */
  /* display: flex; */
  /* width: 10%; */
  /* flex-direction: column;

  align-items: center; */
}

.columnobjects__image {
  height: 276px;
  width: 100%;
  object-fit: cover;

  @media only screen and (max-width: 1025px) {
    height: auto;
  }
}

.columnobjects__image--objects-one {
  height: 168px;
  width: 44%;
  object-fit: contain;
}

.section {
  position: relative;
  width: 100%;
  z-index: 100;
  padding-top: 6em;
  padding-bottom: 2em;
  align-self: center;
  flex-direction: column;
  /* Linear Gradient */
  background: linear-gradient(to right, #008f430e, #fff);
  display: flex;
  justify-content: space-between;
   @media only screen and (max-width:1025px) {
    padding-top: 2em;

   }
}

.section__info{
  width: 90vw;
margin: 0 auto;
gap: 50px;
 @media only screen and (max-width: 769px) {
   width: 80vw;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 3em;
  align-items: center;
  gap: var(--space-2xl);
  width: 100%;

  @media only screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    /* height: 8vh; */
  }
}

.section__image {
  height: 500px;
  width: 6%;
  object-fit: contain;
  position: absolute;
  bottom: 27%;
  right: -0.5px;
  margin: auto;
}


.merchant .section__info {
  height: 80vh;
}
.section__info {
  display: flex;

  justify-content: space-between;

 /* background-color: red; */
  @media only screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    padding-top: 2.5em;
    height: 100%;
  }
}

.section__info-column {
  gap: 44px;
  display: flex;
  /* background-color: green; */
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


  @media only screen and (max-width: 768px) {
    width: 100%;
    justify-content: left;
    flex-direction: column;
  }
}

.section__info-button {
  color: var(--teal_800) !important;
  padding-left: var(--space-5xl);
  padding-right: var(--space-5xl);
  font-size: 14px;
  font-weight: 700;
  gap: var(--space-xl);
  background-color: var(--white) !important;
  box-shadow: 0 0 1px 0 #00000011 !important;
  height:50px;
  width: 220px;
  border-radius: 20px !important;
  display: flex;
  gap: 20px;
  align-items: center;

  @media only screen and (max-width: 769px) {
    /* margin-left: -10px; */
    width: 1vw;
    width: auto;
    height: 6vh;
  
  }
}

.section__info-text {
  color: var(--black_900) !important;
  width: 70%;
  text-align: justify;
  line-height: 120%;

  @media only screen and (max-width: 1024px) {
    width: 100%;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    margin-top: -15px;
    /* margin-left: -10px; */
    width: 100%;
    font-size: -9px;
    text-align: left;
    justify-content: left;
  }
}

.section__info-actions {
  gap: var(--space-lg);
  align-self: stretch;
  display: flex;
  height: 7vh;
  align-items:center;
  height: auto;

  @media only screen and (max-width: 769px) {
    flex-direction: row;
    /* width: 10%; */
  }
}

a.section__info-action-button {
  color: var(--light) !important;
  display: block;
  font-size: 14px;
  font-weight: 700;
  background-color: green !important;
  box-shadow: 0 0 1px 0 #00000019 !important;
  width: 144px;
 height: 100%;
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: center;
  border-radius: 5px !important;

 

  @media only screen and (max-width: 769px) {
height: 7vh;
  }
}
a.section__info-action-button:hover{
  background-color: rgba(0, 128, 0, 0.715) !important;
  cursor: pointer;
}
.section__info-action-button--demo {
  display: block;
  color: var(--dark) !important;
  font-size: 14px;
  font-weight: 700;
  align-self: center;
  background-color: var(--white) !important;
  height: 48px;
  min-width: 184px;
  display: flex;
justify-content: center;
  align-items: center;
  border-radius: 5px !important;
  border: 1px solid var(--light);
  gap: 10px;

  @media only screen and (max-width: 769px) {
    color: var(--dark);
    background-color: var(--white) !important;
    border-radius: 5px !important;
    border: 1px solid var(--light);
    font-weight: 700;
    align-self: center;
    min-width: 140px;  
    padding: 0 11px;
  }
}

.section__gallery {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media only screen and (max-width: 1022px) {
    align-self: stretch;
    margin-left: 0px;
    /* display: none; */
  }
}

.section__gallery-image {
  height: 286px;
  width: 90%;
  object-fit: contain;
}

.section__gallery-controls {
  margin-top: -192px;
  margin-left: 56px;
  margin-right: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (max-width: 1025px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.section__gallery-control-button {
  height: 64px;
  margin-top: 246px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  z-index: 1;
  position: relative;
  background-color: var(--teal_800) !important;
  box-shadow: 0 19px 19px 0 #00000016 !important;
  width: 64px;
  border-radius: 32px !important;
}

.section__gallery-search {
  margin-left: -28px;
  gap: var(--space-md);
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;

  @media only screen and (max-width: 769px) {
    flex-direction: column;
  }
}

.section__gallery-search-column {
  gap: var(--space-5xl);
  display: flex;
  width: 48%;
  flex-direction: column;

  @media only screen and (max-width: 769px) {
    width: 100%;
  }
}

.section__gallery-search-column--secondary {
  margin-bottom: 12px;
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  gap: var(--space-8xl);
  align-self: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (max-width: 769px) {
    /* align-self: stretch; */

    width: fit-content;
    flex-direction: row;
    object-fit: contain;
    height: 10vh;
  }

  /* @media only screen and (max-width: 1022px) {
    align-self: stretch;
    margin-left: 0px;
  } */
}

.section__gallery-search-image--tertiary {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-3xl);

  @media only screen and (max-width:1025px) {
  height: 300px;
  }
  @media only screen and (max-width: 769px) {
    width: fit-content;
    flex-direction: row;
    object-fit: contain;
    height: fit-content;
  }

  /* @media only screen and (max-width: 1022px) {
    align-self: stretch;
    margin-left: 0px;
  
  } */
}

.section__gallery-search-button {
  height: 64px;
  margin-left: 78px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  background-color: var(--teal_800) !important;
  box-shadow: 0 19px 19px 0 #00000016 !important;
  width: 64px;
  border-radius: 32px !important;
/* 
  @media only screen and (max-width: 1025px) {
    margin-left: 0px;
  } */
}





