/* Navigation bar settings */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out; 

}


.navbar.no-shadow {
    box-shadow: none;
}


.navbar.with-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    padding-top: 5px;
    width: 30%;
    height: 25%;
}
/* Menu */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
flex: 0.75
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
   color: var(--grey_scale_black_50);
    font-weight: normal;
    padding: 10px 15px;
    transition: all 0.3s ease;
    font-weight: 500;
}

/* Hover Effect */
.menu a:hover {
     color: black;
}

/* Active Link */
.menu a.active {
  
     color: rgb(8, 151, 8);
    /* font-weight: bold; */
}


.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hidden on desktop */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar{
        padding: 10px 40px;
    }
    .logo{
        width: 0.9;
    }
    .logo img {
        height: 20%;
        width: 20%;
    }
    .hamburger {
        display: block;
     
    }

    .menu {
    
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        overflow: hidden;
        max-height: 0; /* Initially hidden */
        transition: max-height 0.5s ease-in-out; /* Smooth transition */
    }

    .menu.show {
        max-height: 100vh; 
    }

    .menu li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
}
