.why-section {
  display: flex;
  background-color: #85e6b50f;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
}

.why-section .left-column {
  flex: 0.5;
}

.why-section .left-column img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.why-section .right-column {
  display: flex;
  flex-direction: column;
  flex: 0.4;
}

.why-section .right-column h2 {
  font-size: 40px;
  font-weight: 700;
  color: #008f42;
  padding-bottom: 1em;
}

.why-section .why-steps {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.why-section .why-steps .step {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  padding: 30px 20px;
  width: 80%;
}

.why-section .why-steps .step .top-head {
  display: flex;
  align-items: center;
  padding-bottom: 2vh;
}

.why-section .why-steps .step h4 {
  padding-left: 20px;
  font-size: 20px;
  line-height: 22px;
}

.why-section .why-steps .step p {
  color: #3838389f;
  font-size: 14px;
  line-height: 22px;
}

.merchant .faq-section {
background-color: #85e6b50f;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 40px 0px;
  position: relative;
}

.faq-section .leaves {
  position: absolute;
  top: -50px;
  left: 0;
  height: 150px;
  width: 100px;
}

.faq-section .dots {
  position: absolute;
  bottom: 80px;
  right: 0;
  height: 100px;
  width: 50px;
}

.faq-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.faq-item {
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.faq-question {
  cursor: pointer;
  padding: 15px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.faq-question:hover {
  background-color: #f0f0f055;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 15px;
  background-color: #ffffff;
}

.faq-answer p {
  color: #7c7c7c;
  margin: 10px 0;
}

.faq-item.open .faq-answer {
  max-height: 220px;
}

.faq-item.open .faq-question {
  color: #00a34d;
}

.faq-container .icon {
  font-size: 28px;
  color: #00a34d;
  transition: transform 0.3s;
}

.faq-container .faq-item.open .icon {
  transform: rotate(45deg); /* Rotate icon to indicate close */
}

.download-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #008f42;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  padding-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.download-section .left-column {
  flex: 0.5;
  height: 45vh;
  display: flex;
  justify-content: center;
}

.download-section .left-column img {
  height: 100%;
  width: 70%;
  object-fit: contain;
}
.download-section .right-column {
  flex: 0.5;
  color: white;
  /* background-color: black; */
}

.download-section .headerr {
  font-size: 40px;
  font-weight: 500;
  padding: 20px 0px;
}
.download-section .right-column .tag {
  color: green;
  display: block;
  text-align: center;
  font-weight: 700;
  width: 15vw;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.download-section .right-column .description {
  width: 90%;
  font-weight: 400;
}
.download-section .app-section {
  display: flex;
  gap: 50px;
  padding: 40px 0;
}
.download-section .app-section img {
  height: 6vh;
  width: 10vw;
}

.contact-section {
  position: relative;
  background: url("/public/public/images/1K6A9760.jpg") center/cover no-repeat;
  padding: 50px;
  /* border-radius: 20px; */
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.merchant .contact-section {
   margin: 0 auto;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.761);
  z-index: 1;
}

.merchant .contact-section::before {
  background: rgba(0, 0, 0, 0.208);
}

.contact-section .contact-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 90%;
  align-items: center;
}
.merchant .contact-section .contact-container {
  flex-wrap: nowrap;
  width: 100%;
padding-top: 3em;
}

.merchant .contact-section .company-registration {
  flex: 0.6;
  padding: 40px;
  background: #ffffff;
  /* border-radius: 0 15px 15px 0; */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 200;
  border-radius: 10px;
}

.contact-section .contact-text .section__info-button {
  width: auto;
  font-size: 14px;
  height: 5vh;
}

.merchant .contact-section .contact-text h2,
.merchant .contact-section .contact-text p {
  width: 70%;
}
.contact-section .contact-text {
  flex: 0.5;
  padding: 40px;
  color: #ffffff;
  z-index: 100;
}

.contact-section .contact-text h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #ffffff;
}

.contact-section .contact-text p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  width: 80%;
  color: #ffffff;
}

/* Right Column */
.contact-section .contact-form {
  flex: 0.4;
  padding: 40px;
  background: #ffffff;
  /* border-radius: 0 15px 15px 0; */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 200;
  border-radius: 10px;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-section input,
.contact-section textarea,
.contact-section button {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
}

.contact-section input:focus,
.contact-section textarea:focus {
  border-color: #00a34d;
  box-shadow: 0 0 5px rgba(255, 117, 140, 0.4);
}

.contact-section textarea {
  resize: none;
  height: 120px;
}

.contact-section button {
  background: #00a34d;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-section button:hover {
  background: #00a34d;
  transform: translateY(-2px);
}

.footer {
  background: white;
  color: #000000;
  padding: 40px 20px;
}
.footer .seal {
  display: flex;
  align-items: center;
}

.footer .seal img {
  width: 50px;
  height: 50px;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

/* Footer Sections */
.footer-section {
  flex: 1 1 300px;
  padding-left: 5vw;
  height: 100%;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #00a34d;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  font-size: 0.95rem;
  line-height: 1.8;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-section a:hover {
  color: #00a34d;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

/* Logo Section */
.footer-logo {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 20px;
}

.footer-logo img {
  width: 120px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 0.9rem;
  color: #ccc;
}

.payment-methods {
  padding-top: 2vh;
  text-align: center;
}

.payment-methods h3 {
  font-size: 1.5rem;
  /* margin-bottom: 15px; */
  color: #00a34d;
}
/* Payment Methods Section */
.payment-methods img {
  width: 50px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.payment-methods img:hover {
  transform: scale(1.1);
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 15px;
  /* justify-content: center; */
  margin-top: 20px;
}

.social-icons a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00a34d;
  color: #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.social-icons a img {
  width: 20px;
  height: 20px;
}
.social-icons a:hover {
  background: #00a34d;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #555;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}

/* Modal Styles */
.modal-register {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.758);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-register .modal-content,
.company-registration {
  background: white;
  width: 90%;
  max-width: 700px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.159);
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #054d27d7, #054d27);
  color: white;
  padding: 15px 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
}

.modal-register .modal-header .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-register .tabs {
  display: flex;
  background: #f0f4f8;
}

.modal-register .tabs button {
  flex: 1;
  padding: 15px;
  background: transparent;
  color: #333;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.modal-register .tabs button.active {
  background: #054d27;
  color: white;
}

.company-registration {
  padding: 30px;
  margin: 0 auto;
}

.company-registration h2 {
  color: #008f42;
  padding: 15px;
  text-align: center;
  font-weight: 800;
}
.company-registration .form-group {
  margin-bottom: 20px;
}

.company-registration .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.company-registration .form-group input,
.company-registration .form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.company-registration .form-group input:focus,
.company-registration .form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.company-registration .form-group input[type="file"] {
  padding: 5px;
}

.company-registration .form-group textarea {
  resize: none;
  height: 100px;
}

.company-registration button.submit-btn {
  width: 40%;
  padding: 12px;
  background: #00a34d;

  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

.company-registration button.submit-btn:hover {
  background: #00a34d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.partner-section {
  text-align: center;
  padding: 40px 20px;
  /* background: linear-gradient(to right, #e3fce9, #f6fff6); */
  color: #008f42;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); */
  margin: 40px auto;
  width: 100vw;
}

/* Header */
.partner-header h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 700;
}

.partner-header p {
  font-size: 18px;
  color: #595959;
  opacity: 0.8;
}

/* Partner Options */
.partner-options {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* Cards */
.option-card {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  border-radius: 20px;
  width: 30vw;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.option-card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Image Container */
.partner-section .image-container {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background Shape */
.image-bg {
  position: absolute;
  width: 140%;
  height: 100%;
  background: linear-gradient(135deg, #008f436d, #00c8536f);
  clip-path: ellipse(80% 60% at center);
  z-index: 0;
  top: 10px;
  left: -20%;
  opacity: 0.9;
  border-radius: 50%;
}

/* Image */
.option-image {
  position: relative;
  width: 85%;
  height: 85%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  /* clip-path: ellipse(80% 60% at center); */
  object-fit: cover;
  z-index: 100;
}

/* Content */
.option-content {
  padding: 25px;
}

.option-content h3 {
  font-size: 24px;
  color: #007b3e;
  margin-bottom: 12px;
}

.option-content p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* CTA Buttons */
.cta-button {
  display: inline-block;
  padding: 12px 32px;
  background: #008f42;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 14px;
}

.cta-button:hover {
  background: #006b33;
  transform: translateY(-3px);
}

/* Where We Are Section */
.where-we-are {
  /* background-color: rebeccapurple; */
  text-align: center;
  padding: 30px 20px 50px 20px;
}
.where-we-are .headerr {
  width: 100%;
  text-align: center !important;
}
.where-we-are .headerr h2 {
  font-size: 40px;
  /* height: 10vh; */
  color: #008f42;
  margin-bottom: 15px;
  padding: 30px 0;
  font-weight: bold;
  text-align: center;
}

/* .where-we-are .header p {
    font-size: 18px;
    color: #4a6f50;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
} */

/* Locations Container */
.where-we-are .locations {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Location Card */
.where-we-are .location-card {
  position: relative;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 20vw;
  transition: all 0.3s ease-in-out;
}

.where-we-are .location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Location Image */
.where-we-are .location-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Location Tag in the Corner */
.where-we-are .location-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #008f42;
  color: white;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}

/* Location Info */
.where-we-are .location-info {
  padding: 15px;
}

.where-we-are .location-info h3 {
  font-size: 22px;
  color: #005a2a;
  margin-bottom: 5px;
}

.where-we-are .location-info p {
  font-size: 16px;
  color: #444;
  margin-bottom: 0;
}


.insights {
   /* background: rgb(247, 252, 255); */
   padding: 30px;
   margin-top: 0;
   
}
.tab-container {
  width: 80vw;
  margin: auto;
    background: #008f42;
    color: white;
  border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  /* overflow: hidden; */
}

#requirements .content-box img{
width: 50%;
height: 30vh;
}


.tab-buttons {
  display: flex;
  background-color: white;
  color: white;
  gap: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
  /* border-radius: 15px; */
} 

.tab-buttons button {
  margin: 10px;
  border-radius:7px;
  flex: 1;
  padding: 15px;
  border: none;
  background: #008f43ed;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  /* border: 1px solid green; */
}



.tab-buttons button.active {
  background: white;
  border: 1px solid #008f42;
  color: #008f42;
  
   /* border-radius: 15px; */
}

.tab-buttons button:hover{
    background: rgb(230, 235, 238);
  color: #008f42;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.tab-content {
  padding: 30px;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-box {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.content-box img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content-text {
  flex: 1;
  min-width: 250px;
  padding-left: 30px;

}
 .content-box .content-text h3{
font-size: 2.5em;
}
.content-text ul {
  padding-top: 1.5em;
}
.content-text ul li {
  line-height: 2.5em;
  color: white;
  padding-left: 10px;
  font-weight: 400;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.icon-item {
  display: flex;
  align-items: flex-start;

  /* gap: 10px; */
  /* background: #e8f5e9; */
  /* padding: 10px; */
  /* border-radius: 5px; */
}

.tab-content .icon {
  width: 24px;
  height: 24px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .restaurant-container .container {
    width: 95%;
  }

  .restaurant-container .card {
    flex: 0 0 45%; /* 2 cards visible on medium screens */
  }

  .restaurant-container .top-header h1 {
    font-size: 1.5rem;
  }

  .restaurant-container .nav-btn {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
  .download-section {
    padding: 20px;
    width: 90%;
  }
  .download-section .app-section img {
    height: 8vh;
    width: 90%;
  }
  .merchant .contact-section .contact-text h2,
  .merchant .contact-section .contact-text p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .restaurant-container .container {
    width: 100%;
    padding: 0px 0px 0px 20px;
  }
  .restaurant-container .content {
    padding: 10px 0px;
  }
  .restaurant-container .top-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .restaurant-container .card {
    flex: 0 0 100%; /* 1 card visible on smaller screens */
    margin: 10px 0;
  }

  .restaurant-container .top-header h1 {
    font-size: 1.2rem;
  }

  .restaurant-container .nav-btn {
    width: 45px;
    height: 45px;
    font-size: 0.9rem;
  }
  .leaves {
    display: none;
  }
  .why-section {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .why-section .left-column {
    display: none;
  }
  .why-section .right-column {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .why-section .right-column .why-steps {
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .download-section {
    flex-direction: column;
    padding: 0 50px;
  }
  .download-section .right-column .tag {
    width: 80%;
  }
  .download-section .right-column .description {
    width: 100%;
  }
  .download-section .app-section {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .download-section .app-section img {
    height: 7vh;
    width: 70%;
  }
  .contact-section {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .contact-container {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .merchant .contact-section::before {
    background: rgba(0, 0, 0, 0) !important;
  }

  .contact-text {
    /* text-align: center; */
    padding: 10px 0 !important;
  }
  .company-registration {
    padding: 5em;
 
  }
  .contact-form,
  .company-registration {
    border-radius: 0 0 15px 15px;
    width: 100% !important;
    padding: 20px !important;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    flex: 1 1 100%;
  }

  .partner-options {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .option-card {
    width: 80vw;
  }

  .partner-section {
    padding: 20px 10px 20px 10px;
    margin: 0;
  }

  .partner-section .partner-header h2,
  .why-section .right-column h2,
  .where-we-are .headerr h2 {
    font-size: 2em;
  }
  .partner-section .partner-header p {
    font-size: 14px;
  }
  .partner-section .image-container {
    height: 30vh;
  }

  .where-we-are .location-card {
    width: 40vw;
  }

  .faq-answer {
    height: auto;
  }
}
